<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--&lt;!&ndash;配置数据库连接池&ndash;&gt;-->
    <!--<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">-->
        <!--<property name="driverClassName" value="${jdbc.driver}"/>-->
        <!--<property name="url" value="${jdbc.url}"/>-->
        <!--<property name="username" value="${jdbc.username}"/>-->
        <!--<property name="password" value="${jdbc.password}"/>-->

        <!--&lt;!&ndash;监控拦截的filter&ndash;&gt;-->
        <!--<property name="filters" value="stat"/>-->
    <!--</bean>-->

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--&lt;!&ndash; 设定最大连接数  &ndash;&gt;-->
        <!--<property name="maxActive" value="${pop-form.jdbc.maxActive}"/>-->
        <!--&lt;!&ndash; 初始化连接数 &ndash;&gt;-->
        <!--<property name="initialSize" value="${pop-form.jdbc.initialSize}"/>-->
        <!--&lt;!&ndash; 设定最大等待时间（毫秒） &ndash;&gt;-->
        <!--<property name="maxWait" value="${pop-form.jdbc.maxWait}"/>-->
        <!--&lt;!&ndash; 设定最大空闲时间（毫秒） &ndash;&gt;-->
        <!--<property name="maxIdle" value="${pop-form.jdbc.maxIdle}"></property>-->
        <!--&lt;!&ndash; 最小空闲连接 &ndash;&gt;-->
        <!--<property name="minIdle" value="${pop-form.jdbc.minIdle}"/>-->
        <!--&lt;!&ndash; 是否自动回收超时连接 &ndash;&gt;-->
        <!--<property name="removeAbandoned" value="${pop-form.jdbc.removeAbandoned}"/>-->
        <!--&lt;!&ndash; 超时时间(以s为单位) &ndash;&gt;-->
        <!--<property name="removeAbandonedTimeout" value="${pop-form.jdbc.removeAbandonedTimeout}"/>-->
        <property name="validationQuery" value="SELECT 1"></property>
        <property name="testWhileIdle" value="true"></property>
        <property name="testOnBorrow" value="false"></property>
        <property name="numTestsPerEvictionRun" value="50"></property>
        <!--<property name="timeBetweenEvictionRunsMillis" value="${pop-form.jdbc.timeBetweenEvictionRunsMillis}"></property>-->
        <!--<property name="minEvictableIdleTimeMillis" value="${pop-form.jdbc.minEvictableIdleTimeMillis}"></property>-->
    </bean>


    <!--基于JDBC事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--事务-->

    <!--MyBatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.performance.domain"/>
        <property name="mapperLocations" value="classpath:/spring-config/mapper/*.xml"/>
    </bean>


    <!-- 集成Mybatis -->
    <bean id="sqlTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>

    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--<property name="basePackage" value="com.performance.dao.mapper"/>-->
    <!--</bean>-->

</beans>